// webflow part start

#webflow{
    padding: 50px 0;
    .webflo_header{
        h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 44px;
            color: #282938;
        }
    }
    .row{
        margin-top: 40px;
        .web_floe_one_img{
             &:hover img{
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
        .webflow_img{
            overflow: hidden;
            img{
                width: 100%;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                cursor: pointer;
            }
        }
        .webflow_text{
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #282938;
                opacity: 0.7;
                padding-top: 32px;
            }
            h4{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                color: #282938;
                width: 404px;
            }
            .overflo_pera_text{
                margin-top: -17px;
                p{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #282938;
                    opacity: 0.7;
                    width: 404px;
                }
            }
            .aleart_btn{
                a{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #1C1E53;
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    &:hover{
                        color: #2405F2;
                    }
                }
            }
        }
    }
    
}