

.row{
   .blog_faq_peera{
      h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;  
        color: #282938;
        width: 842px;
      }
      p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #282938;
        opacity: 0.7;
        width: 842px;
        padding-top: 32px;
      }
      h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 38px; 
        color: #282938;
        width: 782px;
        padding-top: 20px;
      } 
   }
   .blog_faq_pera_one{
       p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;      
        color: #282938;   
        opacity: 0.7;
        width: 842px;
        padding-top: 32px;
       }
   }
   .blog_faq_pera_two{
    position: relative;
    margin-top: -4px;
    i{
        position: absolute;
        font-size: 8px;
        margin-top: 32px;
    }
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #282938;
        opacity: 0.7;
        margin-left: 18px;   
    }
   }
   .blog_faq_pera_three{
    position: relative;
    margin-top: -29px;
    i{
        position: absolute;
        font-size: 8px;
        margin-top: 32px;
    }
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #282938;
        opacity: 0.7;
        margin-left: 18px;   
    }
   }
   .blog_faq_pera_four{
    position: relative;
    margin-top: -29px;
    i{
        position: absolute;
        font-size: 8px;
        margin-top: 32px;
    }
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #282938;
        opacity: 0.7;
        margin-left: 18px;   
    }
   }
   .blog_faq_pera_five{
        p{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;      
            color: #282938;   
            opacity: 0.7;
            width: 842px;
            padding-top: 20px;
        }
   }

   .blog_faq_pera_six{
       margin-top: 30px;
       margin-bottom: 85px;
       h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        color: #282938;
        width: 842px;
        padding-top: 45px;
       }
       p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;      
        color: #282938;   
        opacity: 0.7;
        width: 842px;
        padding-top: 28px;
       }
   }
}